
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(217, 224, 231);
    padding: 0;
    margin:0;
    
}

.login-container{
    background-color: rgb(180, 194, 220);
    width: 400px;
    margin: 100px auto;
    padding : 20px;
    border-radius:10px;
    box-shadow: 0 0 10px black;
}
h2{
    text-align: center;
    color: rgb(40, 48, 56);
    font-size: 29px;
}
.form-group{
    margin-bottom: 20px;
}

label{
    display: block;
    margin-bottom: 7px;
    color: rgb(26, 28, 28);
    
}
button {
    width: 300px;
    padding: 11px;
    background-color: blue;
    color:beige;
    border:none;
    border-radius:5px;
    cursor: pointer;
    margin: 33px;

}
button:hover{
    background-color: rgb(26, 26, 219);
}

.error-message{
    color: rgb(244, 18, 18);
    text-align: center;
    margin-top: 11px;
}
#username{
    width: 330px;
    padding: 4px;
}
#password{
    width: 330px;
    padding:4px ;
}
.ni{
    margin-left:20px ;
}